<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешная регистрация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .success-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 400px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .success-message{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .qwerty {
            text-align: center;
            font-weight: bold;
            font-size: 2.25rem;
            line-height: 0;
            margin-top: 1rem;
        }
        /*.success-message:last-child {*/
        /*    margin-bottom: 20px;*/
        /*}*/
        .qrcode {
            text-align: center;
            margin-top: 5px;
        }
        .profile-label {
            font-weight: bold;
            margin-left: 2.2rem;
        }
        .delete-link {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="success-container">
    <h1 style="text-align:center">Бейджик участника</h1>
    <div class="success-message">

            <p class="qwerty">{{surname}}</p>


            <p class="qwerty">{{name}}</p>


            <p class="qwerty">{{middlename}}</p>


            <p style="font-size: 10px;margin-top: 10px; text-align: center;">{{post}}</p>


            <p style="font-size: 10px;margin-top: 5px; text-align: center;">{{organization}}</p>

    </div>

    <div class="qrcode">
        <img src="{{qrcode}}" alt="QR Code">
    </div>

</div>
</body>
</html>
